# =====================================
# macOS
# =====================================
.DS_Store
.AppleDouble
._*
.Spotlight-V100
.Trashes

# =====================================
# Xcode
# =====================================
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.xcuserstate
xcuserdata/
*.moved-aside
*.xcscmblueprint

# =====================================
# Swift Package Manager
# =====================================
.build/

# =====================================
# CocoaPods
# =====================================
Pods/
Podfile.lock

# =====================================
# Carthage
# =====================================
Carthage/Build/

# =====================================
# Logs and Temp Files
# =====================================
*.log
*.tmp
*.swp
*~

# =====================================
# App Artifacts
# =====================================
*.app
*.dSYM
*.ipa
*.xcarchive

# =====================================
# Editor Configs
# =====================================
.vscode/
.idea/

# =====================================
# Custom
# =====================================
.DS_Store
AntiEmoPet.xcodeproj/project.xcworkspace/xcuserdata/selena69.xcuserdatad/UserInterfaceState.xcuserstate
AntiEmoPet.xcodeproj/project.xcworkspace/xcuserdata/selena69.xcuserdatad/UserInterfaceState.xcuserstate
