<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GOOGLE_REVERSED_IOS_CLIENT_ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.952314080520-nqq9qun51pss9flvv4btsmc9jtdmo6fm</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>952314080520-nqq9qun51pss9flvv4btsmc9jtdmo6fm.apps.googleusercontent.com</string>
	<key>SUPABASE_SUMMARY_DAILY_URL</key>
	<string>https://pyladtocbhhizzmxtaoc.supabase.co/functions/v1/summary_daily</string>
	<key>SUPABASE_LUMIO_REPLY_URL</key>
	<string>https://pyladtocbhhizzmxtaoc.supabase.co/functions/v1/lumio-reply</string>
	<key>UIAppFonts</key>
	<array>
		<string>ABeeZee-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>processing</string>
		<string>fetch</string>
	</array>
</dict>
</plist>
